# Terraform files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# .terraform directories (local Terraform working directories)
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE or editor files (optional)
.idea/
.vscode/
*.swp

# MacOS files (optional)
.DS_Store

# Windows files (optional)
Thumbs.db